// COLORS
$bg: #ffffff60;
$logo: #e0f4ef;
$light: #fff;
$light-transparent: #ffffff80;
$dark: #333;
$dark-transparent: #33333380;
$red: #fc636b;
$green: #4caf50;
$blue: #2196f3;

// BREAKPOINTS
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1440px;
